.NavigationItems{
    margin:0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    /* flex-direction: row; */
    align-items: center;
    height: 100%;
    /* border:1px solid green; */

}


@media (min-width:500px){
    .NavigationItems{
        flex-flow: row;
    }
}